.DS_Store
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
tests/**/coverage/

__pycache__

# Editor directories and files
.pyc
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.tgz
/.coverage
htmlcov/*
**/*.egg-info/*
**/venv/*
**/build
.pytest_cache

*.sqlite3
